@model  TournamentListViewModel

@{
    ViewData["Title"] = "Tournament List";
}

<div class="section-filters">
    <h3>@Model.Entries.Count Tournaments in our Database</h3>
    <form class="form-standard" method="post">
        <div class="form-standard-field">
            <input name="TournamentNameFilter" placeholder="Name" type="text" value="" />
        </div>
    </form>
</div>

<table class="table-game-entry table-primary">
    <thead>
        <tr>
            <th class="align-center">Tournament Id</th>
            <th class="align-center">Name</th>
            <th class="align-center" colspan="2">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Tournament tournament in Model.Entries)
        {
            <tr class="" onclick="goToTournament(@tournament.Id)">
                <td class="align-center">@tournament.Id</td>
                <td class="align-center">@tournament.Name</td>
                <td class="align-center">@tournament.StartDate.ToString("MMM. dd, yyyy")</td>
                <!--<td class="align-center">@tournament.EndDate?.ToString("MMM. dd, yyyy")</td>-->
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function goToTournament(id) {
            window.location.href = '/Tournament/' + id
        }
    </script>
}