@model GameIndexViewModel

@{
    ViewData["Title"] = "Player List Page";
}

<div class="section-filters">
    <h3>Stats Overview - Game#@Model.Game.Id</h3>
</div>
<div class="game-overview">
    <div>
        
    </div>
    <span class="game-overview-player">
        @Model.Player1.Name (@Model.Player1.ConnectCode)
        <img class="stock-icon" src="@Model.Game.Character1?.GetStockIconPath()" />
    </span>
    <span class="game-overview-player">
        <img class="stock-icon" src="@Model.Game.Character2?.GetStockIconPath()" />
        @Model.Player2.Name (@Model.Player2.ConnectCode)
    </span>
    <div>
        <label class="stage-name">@Model.Game.Stage.GetDisplayName()</label>
        <div>
            <img class="stage-image" src="@Model.Game.Stage.GetStageImagePath()" />
        </div>
        <div class="stock-icon-multiple-all">
            <span class="stock-icon-multiple">
                @for (int i = 0; i < 4; i++)
                {
                    <img class="stock-icon@(Model.Game.Player1EndingStocks <= i ? "-faded" : "")" src="@Model.Game.Character1?.GetStockIconPath()" />
                }
            </span>
            <span class="stock-icon-multiple">
                @for (int i = 0; i < 4; i++)
                {
                    <img class="stock-icon@(Model.Game.Player2EndingStocks <= i ? "-faded" : "")" src="@Model.Game.Character2?.GetStockIconPath()" />
                }
            </span>
        </div>
        <div>
            @if (Model.ReplayFile != null)
            {
                <button class="button-replay button" onclick="downloadReplay()">Download Replay</button>
            }
        </div>
    </div>
</div>


@section Scripts
{
<script>
    function downloadReplay(gameId) {
        window.location.href = '/Game/DownloadReplay?gameId=' + @Model.Game.Id;
    }

    window.setTimeout(function () {
        window.location.reload(true);
    //}, 50000);
    }, 50000000);
</script>
}