@model GameIndexViewModel

@{
    ViewData["Title"] = "Player List Page";
}

<div class="section-filters">
    <h3>Stats Overview - Game#@Model.Game.Id - @Model.Game.Player1Id - @Model.Game.Player2Id</h3>
</div>
<div>
    <div>P1 ID: @Model.Game.Player1Id</div>
    <div>P1 Character: @Model.Game.Character1.GetDisplayName()</div>
    <div>P2 ID: @Model.Game.Player2Id</div>
    <div>P2 Character: @Model.Game.Character2.GetDisplayName()</div>
    <div>Stage: @Model.Game.Stage.GetDisplayName()</div>
</div>
<div>
    @if (Model.ReplayFile != null)
    {
        <button onclick="downloadReplay()">Download Replay</button>
    }
</div>

@section Scripts
{
<script>
    function downloadReplay(gameId) {
        window.location.href = '/Game/DownloadReplay?gameId=' + @Model.Game.Id;
    }
</script>
}